<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      Coffee Ordering App
    </ion-title>
    <ion-buttons slot="start">
        <ion-button (click)="openCart()">
            <ion-badge *ngIf="cart.length > 0">{{cart.length}}</ion-badge>
          <ion-icon name="cart" slot="icon-only"></ion-icon>
        </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngFor="let cat of items" class="cat-block">
    <ion-row no-padding class="cat-banner" >
    <ion-col  align-self-center>
        {{cat.category}}
    </ion-col>
    </ion-row>
    <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let product of cat.products; let i = index">
        <div *ngIf="cat.expanded">
        <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        <img  src='{{product.src}}'/>
                        {{product.name}} <br> R {{product.price}}
                    </ion-card-title>
                    <ion-card-content>
                      {{product.description}}<br>
                        <ion-button expand="full" color="medium" (click)="addToCart(product)" >Add to cart</ion-button>
                     
                    </ion-card-content>
                </ion-card-header>
        </ion-card> 
    </div>
    </ion-slide>
    </ion-slides>
    </div>
</ion-content>
